<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div id="register">
      {% if messages %}
      <ul class="messages">
      {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.30_error}}" role="alert">
      {{msg.message}}
      </div>
      </li>
      {% endfor %}
      </ul>
      {% endif %}
    <h3>Register</h3>
    <form class="register" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <p>Name:<input type="text" name="name"></p>
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password"></p>
      <p>*password should be at least 8 characters
      <p>Confirm Password: <input type="password" name="confirm_password" value=""></p>
      <p><input type="submit" name="register" value="Register"></p>
    </form>
  </div>
  <div id="login">
    <h3>Login</h3>
    <form class="login" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password">
        <p><input type="submit" name="login" value="Login"></p>
    </form>
  </div>
  </body>
</html>
